<div class="jumbotron center">
  <h1 style="font-size: 48px">The Burgtheater in Vienna</h1>
  <h2>26 Feb 1789 to 8 Mar 1791</h2><br>
  <h2>Calendar, Repertory, Receipts, Analysis</h2><br>
  <h3>Dexter Edge</h3>
</div>