/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i,700i');

body {
  background-color: #f6f7f6;
  color: #003965;
}

h1, h2 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

h2 {
  line-height: normal;
}

h3 {
  margin-block-end: 0.5em;
}
th {
  text-align: left;
  padding: 0 10px 7px 0;
}

td {
  padding: 0 10px 7px 0;
}

input, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.notes {
  max-width: 800px;
}

.field label {
  font-weight: bold;
}

.right {
  text-align: right;
  padding-right: 22px;
}

.center {
  text-align: center;
}

.detail-link {
  padding-left: 10px;
}

a:link, a:visited {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  background-color: #ccc;
}