/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i,700i');

body {
  background-color: #f6f7f6;
  color: #003965;
}

.dropdown {
  background-color: #e9ebe9;
  color: #003965;
}

.sticky-top {
  background-color: #f6f7f6;
}

.sticky-top hr {
  border-top: 1px solid #999;
  margin-top: 0.6em;
  margin-bottom: 0em;
}

hr {
  border-top: 1px solid #999;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  margin-top: 8px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  font-weight: normal;
}

h1 {
  font-size: 2.2em;
  vertical-align: top; 
}

h2 {
  line-height: normal;
  margin-top: 0.2em;
}

h5 {
  margin-bottom: 0.25em;
}


// Table styles

table {
  margin-bottom: 0.5em;
}

.table th {
  text-align: left;
  padding: 8px 14px 8px 8px;
}

.table td {
  padding: 0.5rem;
}

.table .right {
  text-align: right;
  padding: 8px 0 8px 0;
}

.table .left {
  text-align: left;
  padding:  8px 0 8px 12px;
}

table .wide {
  width: 2.2em;
}

.table .pad-right {
  padding-right: 12px;
}

table .dow {
  width: 4.5em;
}


th a:link, a:visited {
  color: #2d6a9f;
}

// General 

.right {
  padding-right: 22px;
}

.center {
  text-align: center;
}

input, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navigation {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.header {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}

.indent {
  margin-left: 1em;
}

.notes {
  max-width: 800px;
}

.field label {
  font-weight: bold;
}

.top {
  margin-top: 1em;
}

.detail-link {
  padding-left: 10px;
}

input[type=checkbox] {
  margin-left: 1.5em;
}

a:link, a:visited {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  background-color: #ccc;
}

#notice {
  color: green;
}